# No subir la carpeta con dependencias de Node.js
node_modules/

# Archivos y carpetas generadas automáticamente
.antlr/
*.tokens
*.interp

# Archivos del entorno
.vscode/

# Archivos de logs o errores
npm-debug.log

# Salida generada por ANTLR
generated/

# Otros posibles archivos temporales
*.class
*.jar
*.log